<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pokemon collections</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/jass.css">
<img src="/images/digidex2.png" alt="digidex" id="logo">
</head>
    <body>
        <div>
            <header>
               <h1>
                DIGI DEX
               </h1>
                </header>
            <main>
            {{{body}}}
            </main>
            <footer>

        
            </footer>
        </div>
    </body>
</html>