
<div class="navbar">
    <header>
        <div id="buttons">
            <ul>
                <li><button id="popular"><a href="/popular">Popular Cards</a></button></li>
                <li><button id="search"><a href="/search">Searched</a></button></li>
                <li><button id="collection"><a href="/collection">Collections</a></button></li>
                <li><button id="profile"><a href="">My Profile</a></button></li>
            </ul>
<body>
    <div class="popular-container">
        <h2>Popular Pokémon Cards</h2>
        <div class="profile-dropdown">
            <div id="dropdown-content" class="dropdown-content">
                <a href="/collection">View Collection</a>
                <a href="/logout">Logout</a>
            </div>
        </div>

        
    </div>


        </div>
    </header>
   
</div>
