<div class="navbar">
    <header>
        <div id="buttons">
            <ul>
                <li><button id="popular"><a href="">Popular Cards</a></button></li>
                <li><button id="sreach"><a href="">Sreached</a></button></li>
                <li><button id="collection"><a href="">Collections</a></button></li>
                <li><button id="profile"><a href="">My Profile</a></button></li>
            </ul>

        </div>
    </header>
    
</div>