<body>
    <div class="navbar">
    <header>
        <div id="buttons">
            <h2>
                  <ul>
                <li><button id="search"><a href="/search">Search</a></button></li>
                <li><button id="collection"><a href="/collection">Collections</a></button></li>
            </ul>
            </h2>
          
<div class="search-div">
            <h2>Search for a card!</h2>
                <div class="search-bar">
                    <input type="text" class="search-bar" id="search-input" placeholder="Search">
                    <button id="search-button"class="search-card-button">Search</button>
                </div>
        </div>

        </div>

    </div>
<script src="/js/index.js"></script>
    </header>
    <h2>
 <nav>
                    {{#if logged_in}}
                        <a href="/home">Home</a> |
                        <button id="logout">logout</button>
                        {{else}}
                        <a href="/login">login or sign up</a>
                        {{/if}}
            
                    </nav>
    </h2>
   
</div>
</body>

