<body>
    <div class="navbar">
    <header>
        <div id="buttons">
            <h2>
                  <ul>
                <li><button id="search"><a href="/search">Search</a></button></li>
                <li><button id="collection"><a href="/collection">Collections</a></button></li>
                 {{#if logged_in}}
                        <li><a href="/home"><button>Home</button></a></li>
                        <button id="logout">logout</button>
                        {{else}}
                        <li><button id="login"><a href="/login">login or sign up</a><button></button></li>
                        {{/if}}
            
            </ul>
            </h2>
          
<div class="search-div">
            <h3>Search for a card!</h3>
                <div class="search-bar">
                    <input type="text" class="search-bar" id="search-input" placeholder="Search">
                    <button id="search-button"class="search-card-button">Search</button>
                </div>
        </div>

        </div>

    </div>
<script src="/js/index.js"></script>
    </header>
   
</div>
</body>

