<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Dex</title>
        <link rel="stylesheet" href="/group-2-project-2/project-2/public/css/style.css">
    </head>
<body>
    <div>
        <header>
            <h1>
                DEX
            </h1>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>

        </footer>
    </div>
</body>
</html>