<body>
    <div id="profileTemplate"></div>
    <script id="profil-template" type="text/x-handlebars-template">
<div class="profile">
    <h2>{{name}}</h2>
    <p><strong>age</strong>{{age}}</p>
    <p><strong>bio</strong>{{bio}}</p>


</div>
    </script>
</body>