body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    font-size: medium;
    

}
.header {
    padding: 50px;
    text-align: center;
    border-bottom-style: solid;
}
main {
    display: flex;
    flex-wrap: wrap;
}
.h1 {
    box-sizing: content-box;
    height: 0;
    padding: 5px;
    overflow: visible;
}
hr {
    box-sizing: content-box;
    height: 0;
}
a {
    justify-content: center;
}
button {
    font-family: inherit;
    line-height: 1.25;
    font-size: 100%;
    margin: 0;
}
button :hover
